version: '3.8'

services:
  api:
    build: . 
    ports:
      - "4000:4000" 
    volumes:
      - .:/usr/src/app 
    environment:
      - MONGO_URI=${MONGO_URI}
    depends_on:
      - db 

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
      - MONGO_INITDB_DATABASE=${MONGO_DB}
    
volumes:
  mongo-data: 