version: '3.8'

services:
  api:
    build: . 
    ports:
      - "4000:4000" 
    volumes:
      - .:/usr/src/app 
    environment:
      - MONGO_URI=mongodb://db:27017/productos_db
    depends_on:
      - db 

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    
volumes:
  mongo-data: 